.typing-effect-container {
    display: inline-flex;
    font-size: 4rem;
    color: rgb(120, 174, 255);
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    width: 6ch;
    animation: typing 4s steps(5, end) infinite, blink 0.75s step-end infinite;
}

.featurette-heading {
    font-size: 4rem;
    text-wrap: pretty;
}

.containerCardHome {
    justify-content: space-between;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 6ch;
    }

    100% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.spanMoonT {
    color: rgb(120, 174, 255);
}

.spanInfo {
    color: #dadada;
    font-style: italic;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 85%;
}

.image-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 30%;
    background: linear-gradient(to top right, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 60%)
}

.lead {
    text-wrap: pretty;
}

@media (max-width: 1400px) {
    .containerCardHome {
        margin-top: 1rem !important;
        margin-bottom: 8rem !important;
    }

    .typing-effect-container {
        font-size: 3.2rem;
    }

    .featurette-heading {
        font-size: 3.2rem;
    }

}

@media (min-width: 1400px) {
    .containerCardHome {
        margin-top: 8rem !important;
        margin-bottom: 8rem !important;
    }

    .image-container img {
        width: 90%;
    }

}

@media (max-width: 400px) {
    .typing-effect-container {
        font-size: 2.4rem;
    }

    .featurette-heading {
        text-wrap: pretty;
        font-size: 2.6rem;
    }
}