#catalog {
    padding: 60px 0;
    margin-bottom: 50px;
}

#catalog h2 {
    font-size: 2.5rem;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.catalog-img {
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    color: #f5f5f5;
}

.card-text {
    color: #aaaaaa;
    font-size: 0.9rem;
}

.btn-book {
    transition: 0.3s ease-in-out;
    border: 1px solid #888;
}

.btn-book:hover {
    background-color: #ffffff;
    color: #101010;
}