.layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Raleway, serif;
}

.content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding-top: 1.5rem;
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #000000; 
}

::-webkit-scrollbar-thumb {
    background: #78aeff; 
}

::-webkit-scrollbar-thumb:hover {
    background: #feffffd0;
}